@tailwind base;
@tailwind components;
@tailwind utilities;

#add-to-crawl {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 1;
    background: orange;
    color: white;
    padding: 10px;
}

#clear-crawls,
#return-button {
    background: orange;
    color: white;
    padding: 10px;
    border-style: solid;
    border-width: 2px; 
    border-color: lightgrey 
}